*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');


$active-color: #AA1519;
body{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
}
header{
    grid-area: header;
    border-bottom: 1px solid black;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 1rem;
        font-size: 18px;
        .logo{
            width: 60px;
            a{
                height: inherit;
                img{
                    height: inherit;
                }
            }
        }
        ul{
            display: flex;
            gap: 1.5rem;
            li{
                color: black;
                list-style: none;
                font-weight: 600;
                flex-wrap: wrap;
                &:hover{
                    color: $active-color;
                }
                a{
                    color: black;
                    text-decoration: none;
                    position: relative;
                    &:hover{
                        --p: 100%;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        top: 100%;
                        width: 100%;
                        height: 3px;
                        background: linear-gradient($active-color 0 0) calc(100% - var(--p,0%)) / var(--p,0%) no-repeat;
                        transition: 0.2s, background-position 0s;
                    } 
                }
            }
        }
        .login{
            a{
                color: black;
                text-decoration: none;
                padding: 0.5rem;
                border: 1px solid black;
                background-color: #ffffff;
                font-weight: 600;
                &:hover{
                    background-color: $active-color;
                }
            }
        }
    }
}
main{
    grid-area: main;
    background-color: #ffffff;
    padding: 1rem;
}
footer{
    .underbar{
        grid-area: footer;
        height: 30px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            bottom: 100%;
            width: 100%;
            height: 3px;
            background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
        }
        gap: 2rem;
        p{
            color: #ffffff;
        }
        a{
            color: #ffffff;
            text-decoration: none;
            &:hover{
                color: $active-color;
            }
        }
    }
}

//login box
.loginbox{
    display: flex;
    flex-direction: column;
    width: 450px;
    gap: .1rem;
    input{
        margin: 0 0 1rem 0;
        padding: 0.3rem;
    }
    label{
        font-weight: 500;
    }
    div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        button{
            padding: 0.5rem;
            border: 1px solid black;
            transform: all 7s;
            font-weight: 500;
            &:last-child{
                background-color: $active-color;
                &:hover{
                    filter: hue-rotate(-85deg); //#41BCA1
                    transform: all .7s;
                }
            }
        }
    }
    a{
        margin: 1rem 0 0 0;
    }
}

.Errorpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem;
    img{
        width: 100%;
        max-width: 650px;
    }
    h2{
        span{
            background-color: black;
            color: #fff;
            padding: 0 0.2rem;
        }
    }
    div{
        display: flex;
        gap: 4rem;
        flex-wrap: wrap;
        a{
            background-color: #ffffff;
            color: black;
            text-decoration: none;
            font-weight: 600;
            position: relative;
            padding: 0.2rem 0;
            margin: 1rem 0;
            cursor: pointer;
            &:hover{
                --p: 100%;
                i{
                    color: black;
                    &::before{
                        content: "";
                    }
                }
            }
            &:first-child{
                i{
                    padding: 0 0 0 .4rem;
                }
                &:hover{
                    --p: 100%;
                    i{
                        padding: 0;
                        color: black;
                        &::before{
                            content: "";
                        }
                    }
                }
            }
            &::before{
                content: "";
                position: absolute;
                bottom: 100%;
                width: 100%;
                height: 3px;
                background: linear-gradient($active-color 0 0) calc(100% - var(--p,0%))/ var(--p,0%) no-repeat;
                transition: 0.4s, background-position 0s;
            }
            &::after{
                content: "";
                position: absolute;
                top: 100%;
                width: 100%;
                left: 0;
                height: 3px;
                background: linear-gradient($active-color 0 0) var(--p,0%) / var(--p,0%) no-repeat;
                transition: 0.4s, background-position 0s;
            }
            i{
                color: $active-color;
                font-weight: 600;
            }
        }
    }
    
}

.webtools{
    section{
        display: flex;
        gap: 2rem;
        margin: 1rem;
        justify-content: center;
        flex-wrap: wrap;
        article{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 350px;
            gap: 1rem;
            box-shadow:0 0 13px rgba(0,0,0,0.6);
            img{
                width: 100%;
                min-height: 200px;
                padding: .5rem;
                background-color: black;
                object-fit: contain;
                &:hover{
                    object-fit: scale-down;
                    
                }
            }
            h3, p{
                margin: 0 0.5rem;
                span{
                    color: $active-color;
                }
            }
            a{
                border-top: 1px solid black;
                padding: 0.5rem;
                color: black;
                text-decoration: none;
                font-weight: 600;
                text-align: center;
                &:hover{
                   background-color: $active-color;
                }
            }
        }    
    }
}

